{% extends "base.html" %}
{% block content %}

  <div class="container mt-3">
    <div class="row">
      <div class="col-6">
        <h2 class="page-title">View Chapters</h2>
        Project: 
        <a class="link-info" data-bs-toggle="collapse" href="#collapseProject" role="button" aria-expanded="false" aria-controls="collapseProject">
          Living with Science
        </a>
      </div>
      <div class="col-6 text-end">
        <a class="btn btn-primary" href="stage.html">Stage</a>
        <a class="btn btn-primary" href="createchapter.html">Add Chapter</a>
      </div>
      <div class="col-12 mb-3">
        <div class="collapse" id="collapseProject">
          <div class="card card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt3">
    <div class="table-responsive">          
      <table class="table table-hover table-bordered">
        <thead class="table-light text-center">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Chapter</th>
            <th scope="col">Pages</th>
            <th scope="col">Due Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">1</th>
            <td>Chapter 1</td>
            <td>24</td>
            <td><p class="badge rounded-pill bg-light text-dark">5th June 2023</p></td>
            <td><p class="badge rounded-pill bg-light text-dark">Open</p></td>
          </tr>
          <tr>
            <td class="text-center">2</th>
            <td>Chapter 2</td>
            <td>26</td>
            <td><p class="badge rounded-pill bg-danger">20th May 2023</p></td>
            <td><p class="badge rounded-pill bg-primary">In Progress</p></td>
          </tr>
          <tr>
            <td class="text-center">3</th>
            <td>Chapter 3</td>
            <td>49</td>
            <td>-</td>
            <td><p class="badge rounded-pill bg-dark text-light">Hold</p></td>
          </tr>
          <tr>
            <td class="text-center">4</th>
            <td>Table of content</td>
            <td>2</td>
            <td><p class="badge rounded-pill bg-light text-dark">26th June 2023</p></td>
            <td><p class="badge rounded-pill bg-success">Completed</p></td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}