{% extends "base.html" %}
{% block content %}

  <div class="container mt-3">
    <div class="row">
      <div class="col-6">
        <h2 class="page-title">View Projects</h2>
      </div>
      <div class="col-6 text-end">
        <a class="btn btn-primary" href="{% url 'addProject' %}">Add Project</a>
      </div>
    </div>
  </div>
  
  <div class="container mt-3">
    
    {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      
    </div>
    <br>
  {% endif %}
    <div class="table-responsive">          
      <table id="exampleDT" class="table table-hover table-striped ">
        <thead class="table-light text-center">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Workflow</th>
            <th scope="col">ISBN</th>
            <th scope="col">Number of Chapters</th>
            <th scope="col">Due Date</th>
            <th scope="col">Status</th>
            <th class="not-export-column" scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
          {% for item in projects%}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href={% url 'chapter_view_byId' item.id %}>{{item.proj_name}}</a></td>
            <td>{{item.proj_workflowType.workflow_name}}</td>
            <td>{{item.proj_isbn}}</td>
            <td>{{item.proj_no_of_chapters}}</td>
            <td><p class="badge rounded-pill bg-light text-dark">{{item.due_date}}</p></td>
            <td><p class="badge rounded-pill bg-primary">{{item.proj_status}}</p> </td>
            <td>
              <a href={% url 'editProject' item.id %} >
                <button type="button" class="btn btn-success btn-sm"><i class="fa fa-edit fa-lg"></i></button>
            </a>
            <a  href="#myModal" data-target="#myModal" data-toggle="modal" onClick = "openSolution('{{ item.id }}')">
              <button type="button"  class="btn btn-danger btn-sm"><i class="fa fa-trash fa-lg"></i></button>
          </a>   
            </td>
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
      <div class="modal fade" tabindex="-1" id="myModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete Project</h3>
                </div>
                <div class="modal-body background-color: #FFFFFF;">
                    <p>Do you want to really delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="confirmationYes()" href="#">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>  
        </div>
    </div>
    </div>
  </div>
  <script>            
    function openSolution(id){               
        $('#myModal').data('id', id);                
    } 
    
    function confirmationYes(){
        var id = $('#myModal').data('id');                                         
        window.location.href ="/delete_project/"+id+"";
    }                                                                      
</script> 
  {% endblock %}