{% extends "base.html" %} {% block content %}

<div style="padding: 3%">
  <h4>User Progress View</h4>

  {% comment %} <h4>User Attendance</h4>
  <ul>
    {% for item in userinout %}
    <li>Date: {{ item.date }}, Total Duration: {{ item.inout_duration }}</li>
    {% endfor %}
  </ul>

  <h4>User Breaks</h4>
  <ul>
    {% for item in breaks %}
    <li>Date: {{ item.date }}, Total Duration: {{ item.break_duration }}</li>
    {% endfor %}
  </ul>
  <h4>User Productivity</h4>
  <ul>
    {% for item in result %}
    <li>
      Date: {{ item.date }}, Total Session: {{ item.inout_duration }},Total
      Breaks: {{ item.break_duration }} , Total Difference: {{ item.difference
      }}
    </li>
    {% endfor %}
  </ul> {% endcomment %}

  <div class="shadow_boox user_report_form">
    <form id="" method="post" action="{% url 'user_report_view_test' %}">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-">
          <div class="mb-3">
            <label for="status" class="form-label">User Name</label>
            <input
              class="form-control"
              type="text"
              id="autocomplete-input_usrId"
              value="{{ item.name}}"
            />
            <input
              type="hidden"
              id="selected-value_usersid"
              name="selected_value"
            />
            <input
              type="hidden"
              value="{{item.userId}}"
              id="selected-value_userId"
              name="selected_value_userId"
            />
            <!-- Hidden field to store selected value -->
            <ul id="autocomplete-results_userId"></ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="">
          <div class="mb-3">
            <label for="dueDate" class="form-label">start Date</label>
            <input
              value="{{item.date}}"
              type="date"
              class="form-control"
              name="date"
              required
            />
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success">submit</button>
        <a href="{% url 'dashboard_view' %}" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
  <div class="tablediv shadow_boox">
    <table id="exampleDT" class="table table-hover">
      <thead>
        <th>UserID</th>
        <th>Username</th>
        <th>Date</th>
        <th>InTime</th>
        <th>OutTime</th>
        <th>Breaktime</th>
        <th>Productivity in hours</th>
      </thead>
      <tbody>
{% for i in items %}
        <tr>
            <td>{{i.user__id}}</td>
        <td>{{i.user__username}}</td>
        <td>{{i.created_at}}</td>
        <td>{{i.login_time}}</td>
        <td>{{i.logout_time}}</td>
        <td>
            <table>
              {% for item in i.breaks %}
                <tr>
                    <td>{{item.start_time}}</td> <td><strong>to</strong></td>
                    <td>{{item.end_time}}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>{{i.prod_hours}}</td>
        </tr>
{% endfor %}

      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function () {
    // Function to handle selection
    function handleSelection(selectedValue) {
      $("#autocomplete-input_usrId").val(selectedValue.label); // Set input value to selected label
      $("#selected-value_usersid").val(selectedValue.id); // Set hidden field value to selected ID
      $("#autocomplete-results_userId").empty(); // Clear the autocomplete results
    }

    $("#autocomplete-input_usrId").on("input", function () {
      var query = $(this).val();
      if (query.length >= 2) {
        $.ajax({
          url: "{% url 'autocomplete_userid' %}",
          headers: { "X-Requested-With": "XMLHttpRequest" },
          data: { term: query },
          dataType: "json",
          success: function (data) {
            var $results = $("#autocomplete-results_userId");
            $results.empty();
            for (var i = 0; i < data.length; i++) {
              var option =
                "<li data-value='" +
                data[i].id +
                "'>" +
                data[i].label +
                "</li>";
              $results.append(option);
            }

            // Handle selection from the results
            $results.find("li").click(function () {
              var selectedId = $(this).data("value");
              var selectedLabel = $(this).text();
              handleSelection({ id: selectedId, label: selectedLabel });
            });
          },
        });
      } else {
        $("#autocomplete-results_userId").empty();
      }
    });
  });
</script>

{% endblock %}
